body {
  font-family: "IBM Plex Mono", monospace;
  background-image: url(/IMAGES/background.jpg);
  background-position: center;
  background-size: cover;
  animation-name: start;
  /* animation-duration: 1000ms;
  transition: 400ms; */
}
#homebtn {
  background-color: #ffbf0059;
  border: solid #ffbf00;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  font-family: "Fredericka the Great", cursive;
  transition: 300ms;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
}
#homebtn:hover {
  background-color: #ffbf00;
  transition: 300ms;
}
#messagebg {
  position: fixed;
  height: 100%;
  width: 110%;
  /* margin-left: 5%; */
  margin-top: -25px;
  margin-left: -20px;
  padding-top: 130px;
  padding-left: 20px;

  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.message {
  font-family: "Fredericka the Great", cursive;
  font-size: 30px;
  position: fixed;
  text-align: center;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 3px rgba(200, 200, 200, 0.5);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  color: lightyellow;
  opacity: 80%;
  transition: 400ms;
}
.invisible {
  display: none;
}
#messagebtn {
  font-family: "Fredericka the Great", cursive;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 191, 0, 0.75);
  border: 2px solid rgba(255, 191, 0, 0.75);
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  border-radius: 5px;
  outline: none;
  transition: 400ms;
}
#messagebtn:hover {
  border: 2px solid lightyellow;
}
#successmsg {
  margin-top: -30px;
}

#video {
  height: 100px;
  width: 100px;
  margin-top: 20%;
  margin-left: 47%;
  border-radius: 10px;
  background-color: black;
}
.loader {
  background-color: rgb(30, 30, 30);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.fadeloader {
  animation-name: fading;
  animation-duration: 500ms;
}
@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
a{
  color: blue;
  text-decoration: none;

}
a:visited{
  color: blue;
}
#access{
  display: block;
  height: fit-content;
  width: fit-content;
  color: lightyellow;
  font-family: "Fredericka the Great", cursive;
  font-size: 50px;
  font-weight: normal;
  margin: auto;
  margin-top: 10%;

}