body {
  font-family: "IBM Plex Mono", monospace;
  background-image: url(/IMAGES/background.jpg);
  background-position: center;
  background-size: cover;
  animation-name: start;
  /* animation-duration: 1000ms; */
}
@keyframes start{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/* font-family: 'Fredericka the Great', cursive; */
#head {
  display: inline-block;
  font-family: "Fredericka the Great", cursive;
  color: whitesmoke;
  font-size: 30px;
  margin-left: 33%;
  /* justify-content: center; */
}
#list {
  color: whitesmoke;
}
/* #fetchbtn {
  margin-left: 45%;
  background-color: green;
  height: 50px;
  font-size: 20px;
}
#fetchbtn:hover {
  background-color: #ffbf00;
  transition: 100ms;
}
#fetchbtn:active {
  border: 3px solid black;
  transition: 100ms;
} */
#documentsdownloadbtn {
  margin: 5px;
  background-color: #ffbf00;
  border: 2px solid black;
  border-radius: 5px;
  transition: 400ms;
}
#documentsdownloadbtn:hover {
  border: 2px solid white;
  transition: 400ms;
}
#acceptbtn {
  margin: 5px;
  background-color: #ffbf00;
  border: 2px solid black;
  border-radius: 5px;
  transition: 400ms;
}
#acceptbtn:hover {
  border: 2px solid white;
  transition: 400ms;
}
#rejectbtn {
  margin: 5px;
  background-color: #ffbf00;
  border: 2px solid black;
  border-radius: 5px;
  transition: 400ms;
}
#rejectbtn:hover {
  border: 2px solid white;
  transition: 400ms;
}
#video {
  height: 100px;
  width: 100px;
  margin-top: 20%;
  margin-left: 47%;
  border-radius: 10px;
  background-color: black;
}
.loader {
  background-color: rgb(30, 30, 30);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.fadeloader {
  animation-name: fading;
  animation-duration: 500ms;
}
@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.invisible {
  display: none;
}
#messagebg {
  position: fixed;
  height: 100%;
  width: 110%;
  /* margin-left: 5%; */
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-left: 20px;

  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: cornflowerblue; */
}
.message {
  font-family: "Fredericka the Great", cursive;
  font-size: 30px;
  position: fixed;
  text-align: center;
  width: 300px;
  height: fit-content;
  box-shadow: 0px 0px 3px rgba(200, 200, 200, 0.5);
  margin: auto;
  padding: 20px;
  padding-top: 5px;
  border-radius: 10px;
  background-color: black;
  color: lightyellow;
  opacity: 80%;
  transition: 400ms;
}
.msgbtn {
  font-family: "Fredericka the Great", cursive;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 191, 0, 0.75);
  border: 2px solid rgba(255, 191, 0, 0.75);
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  border-radius: 5px;
  outline: none;
  transition: 400ms;
}
.msgbtn:hover {
  border: 2px solid lightyellow;
}
#successmsg {
  margin-top: -30px;
}
#messagecrossbtn {
  border: 2px solid rgba(255, 0, 0, 0.5);
  border-radius: 100%;
  transition: 400ms;
}
#messagecrossbtn:hover {
  border: 2px solid rgba(255, 255, 224, 0.5);
  border-radius: 100%;
}
#logout{
  display: inline-block;
  font-family: 'Fredericka the Great', cursive;
  font-size: 20px;
  color: lightyellow;
  border: 2px solid #ffbf00;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 191, 0,0.5);
  transition: 400ms;
}
#logout:hover{
  border: 2px solid white;
  color: black;
  background-color: rgba(255, 191, 0,1);
  transition: 400ms;
}

.documentsdownloadbtn{
  display: inline-block;
  font-family: 'Fredericka the Great', cursive;
  font-size: 15px;
  color: lightyellow;
  border: 2px solid #ffbf00;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgba(255, 191, 0,0.5);
  transition: 400ms;
}
.documentsdownloadbtn:hover{
  color: black;
  border: 2px solid #f2f28d;
  background-color: rgba(255, 191, 0,1);
}
.acceptbtn{
  display: inline-block;
  font-family: 'Fredericka the Great', cursive;
  font-size: 15px;
  color: lightyellow;
  border: 2px solid #ffbf00;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgba(255, 191, 0,0.5);
  transition: 400ms;
}
.rejectbtn{
  display: inline-block;
  font-family: 'Fredericka the Great', cursive;
  font-size: 15px;
  color: lightyellow;
  border: 2px solid #ffbf00;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgba(255, 191, 0,0.5);
  transition: 400ms;
}
/* .documentsdownloadbtn:hover{
  border: 2px solid white;
  color: black;
  background-color: rgba(255, 191, 0,1);
  transition: 400ms;
} */
.acceptbtn:hover{
  border: 2px solid #008000;
  color: black;
  background-color: rgba(255, 191, 0,1);
  transition: 400ms;
}
.rejectbtn:hover{
  border: 2px solid #ff0000;
  color: black;
  background-color: rgba(255, 191, 0,1);
  transition: 400ms;
}
.clicked{
  display:none;
}
.dashboard{
  display: inline-block;
  font-family: "Fredericka the Great", cursive;
  color: whitesmoke;
  margin-left: 15%;
  font-size: 20px;
}