body {
  font-family: "Fredericka the Great", cursive;
  background-image: url(/IMAGES/background.jpg);
  color: lightyellow;
  animation-name: start;
  overflow :visible;
  /* animation-duration: 1000ms; */
}
@keyframes start{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.requestform {
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  background-color: whitesmoke;
  width: 75%;
  border-radius: 20px;
  height: fit-content;
  font-family: "IBM Plex Mono", monospace;
  font-size: 10pt;
  color: black;
}
input {
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
  outline: none;
  text-align: center;
}
label {
  color: black;
}
#submitbtn {
  font-family: "Fredericka the Great", cursive;
  font-size: 20px;
  width: 100px;
  margin: 20px;
  border-radius: 15px;
  border: 3px solid green;
  outline: none;
  padding: 10px;
  background-color: green;
  transition: 400ms;
}
#submitbtn:hover {
  background-color: #ffbf00;
  border: 3px solid black;
  transition: 400ms;
}
#submitbtn:active {
  border: 3px solid black;
}
#textarea {
  height: 200px;
  width: 400px;
  resize: none;
}
#addnewfile {
  height: 20px;
  width: 20px;
  background-color: lightgreen;
  border: 2px solid lightgreen;
  border-radius: 3px;
  padding: 3px;
  transition: 400ms;
}
#addnewfile:hover {
  border: 2px solid black;
}
#removenewfile {
  height: 20px;
  width: 20px;
  background-color: #ff000099;
  border: 2px solid #ff000099;
  border-radius: 3px;
  padding: 3px;
  transition: 400ms;
}
#removenewfile:hover {
  border: 2px solid black;
}
#filelistdiv {
  width: 300px;
  height: fit-content;
  margin: auto;
}
#filelistdiv li {
  color: red;
  padding: 0;
  margin: 0;
}
#homebtn {
  background-color: #ffbf0059;
  border: solid #ffbf00;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  font-family: "Fredericka the Great", cursive;
  transition: 300ms;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
}
#homebtn:hover {
  background-color: #ffbf00;
  transition: 300ms;
}
#video {
  height: 100px;
  width: 100px;
  margin-top: 20%;
  margin-left: 47%;
  border-radius: 10px;
  background-color: black;
}
.loader {
  background-color: rgb(30, 30, 30);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.fadeloader {
  animation-name: fading;
  animation-duration: 500ms;
}
@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.invisible {
  display: none;
}
#messagebg {
  position: fixed;
  height: 100%;
  width: 110%;
  /* margin-left: 5%; */
  margin-top: -25px;
  margin-left: -20px;
  padding-top: 150px;
  padding-left: 20px;

  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.message {
  font-family: "Fredericka the Great", cursive;
  font-size: 30px;
  position: fixed;
  text-align: center;
  width: 300px;
  height: fit-content;
  box-shadow: 0px 0px 3px rgba(200, 200, 200, 0.5);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  color: lightyellow;
  opacity: 80%;
  transition: 400ms;
}
.invisible {
  display: none;
}
#messagebtn {
  font-family: "Fredericka the Great", cursive;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 191, 0, 0.75);
  border: 2px solid rgba(255, 191, 0, 0.75);
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  border-radius: 5px;
  outline: none;
  transition: 400ms;
}
#messagebtn:hover {
  border: 2px solid lightyellow;
}
#successmsg {
  margin-top: -30px;
}