body{
    font-family: 'Fredericka the Great', cursive;
    background-image: url(/IMAGES/background.jpg);
    color: lightyellow;
    
}
.requestform{
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    background-color: whitesmoke;
    width: 75%;
    border-radius: 20px;
    height: fit-content;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10pt;
    color: black;
}
input{
    margin-top: 20px;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    text-align: center;

}
label{
    color: black;
}
#submitbtn{
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    width: 100px;
    margin:20px;
    border-radius: 15px;
    border: 3px solid green;
    outline: none;
    padding: 10px;
    background-color: green;
    transition: 400ms;
}
#submitbtn:hover{
    background-color: #ffbf00;
    border: 3px solid black;
    transition: 400ms;
}
#submitbtn:active{
    border: 2px solid black;
}
.uploadbtn{
    background-color: darkgoldenrod;
}
#textarea{
    height: 200px;
    width: 400px;
    resize: none;
}
#addnewfile{
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    border-radius: 3px;
    padding: 3px;

}
#removenewfile{
    height: 20px;
    width: 20px;
    background-color:#ff000099;
    border-radius: 3px;
    padding: 3px;
}
#filelistdiv{
    width: 300px;
    height: fit-content;
    margin: auto;
    margin-top:10px;
}
#homebtn{
    background-color: #ffbf0059;
    border: solid #ffbf00;
    border-radius: 15px;
    height: 50px;
    width:50px;
    font-family: 'Fredericka the Great', cursive;
    transition: 300ms;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}
#homebtn:hover{
    background-color: #ffbf00;
    transition: 300ms;
}