body{
    font-family: 'IBM Plex Mono', monospace;
    background-image: url(/IMAGES/background.jpg);
    
}
.signupform{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 3px rgba(200, 200, 200, 0.5);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: whitesmoke ;
    background-color: whitesmoke;
    
}
.input-box{
    width: 80%;
    margin: 10px auto 0px auto;
    border-radius: 20px;
    border: 1px solid #252526FF;
    outline: none;
    padding: 5px;
    text-align: center;
}
.signupbtn{
    font-family: 'Fredericka the Great', cursive;
    border-radius: 20px;
    padding: 5px;
    width: 80%;
    background-color: green;
    color: lightyellow;
    border: 3px solid green;
    transition: 400ms;
    margin-top: 10px;
    margin-bottom: 10px;
}
.signupbtn:hover{
    border: 3px solid black;
    color: black;
    background-color: #ffbf00;
}
#homebtn{
    background-color: #ffbf0059;
    border: solid #ffbf00;
    border-radius: 15px;
    height: 50px;
    width:50px;
    font-family: 'Fredericka the Great', cursive;
    transition: 300ms;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}
#homebtn:hover{
    background-color: #ffbf00;
    transition: 300ms;
}
.message{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    position: fixed;
    text-align: center;
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 3px rgba(200, 200, 200, 0.5);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    color:lightyellow;
    opacity: 80%;
    transition: 400ms;
}
.invisible{
    display: none;
}
#messagebtn{
    font-family: 'Fredericka the Great', cursive;  
    font-weight: bold;
    font-size: 20px; 
    background-color: #ffbf00;
    border: 2px solid #ffbf00;
    height: fit-content;
    width: fit-content;
    margin-top: 30px;
    border-radius: 5px;
    outline: none;
    transition: 400ms;
}
#messagebtn:hover{
    border: 2px solid lightyellow;

}
#successmsg{
    margin-top: -30px;
}