body{
    font-family: 'IBM Plex Mono', monospace;
    background-image: url(/IMAGES/background.jpg);
    color: whitesmoke;
}
h2{
    display: inline;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    color: mediumseagreen;
    margin-left : 35%;
}
#homebtn{
    display: inline;
    background-color: #ffbf0059;
    border: solid #ffbf00;
    border-radius: 15px;
    height: 50px;
    width:50px;
    font-family: 'Fredericka the Great', cursive;
    transition: 300ms;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
#homebtn:hover{
    background-color: #ffbf00;
    transition: 300ms;
}