body{
    background-color: #252526FF;
    font-family: 'IBM Plex Mono', monospace;
    color: lightyellow;
    margin: 0px;
    animation-name: start;
    animation-duration: 2000ms;
}
@keyframes start{
    from{
        filter: blur(5px);
    }
    to{
        filter: blur(0px);
    }
}
#projectname{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25pt;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color: #252526FF;
    margin:0px;
    
}
.topbtn{
    display: inline-flex;
    margin: 20px;
    margin-inline-end: 50px;
    background-color: #252526FF;
    font-family: 'Fredericka the Great', cursive;
    border-radius: 10px;
    padding: 10px;
    transform: scale(1,1);
    transition-duration: 400ms;
    border: solid 2px #FFBF00;

}
#topbtnparent{
    margin:0px;
    display: flex;
    justify-content: center;
    background-color: #252526FF;
}
a{
    color:lightyellow;
    background-color: #252526FF;
    transform: scale(1,1);
    transition-duration: 400ms;
}
.topbtn:hover{
    background-color: #FFBF00;
    transform: scale(1.25,1.25);
    transition: 400ms;
}
.topbtn:hover .toplink{
    background-color: #FFBF00;
    color: black;
    transition: 400ms;
}
.topbtn:active{
    transform: scale(0.75,0.75);
    transition: 400ms;
} 
#image{
    display: block;
    margin:auto;
    max-width: 100%;
    max-height: 100%;
    transform: scaleX(1);
    transition: 15s;
}
#image:hover{
    transform: scaleX(1.2);
    transition: 15s;
}
.howitworks{

    margin: 75px;
    margin-bottom: 150px;
    padding: 20px;
    display: block;
    border: solid 2px #636e72;
    border-radius: 20px;
    height: fit-content;
    transform: scale(1,1);
    transition-duration: 400ms;
} 
.howitworks:hover{
    background-color: #FFBF00;
    transform: scale(1.10,1.10);
    box-shadow: 5px 5px 3px gray;
    transition: 400ms;
    color: black;
}
.howitworks:hover #howitworkstitle{
    background-color: #FFBF00;
    transition: 400ms;
    color: black;
}
#howitworkstitle{
    display: block;
    font-size: 25pt;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color: #252526FF;
    border-radius: 20px;
    transform: scale(1,1);
    transition-duration: 400ms;
    
}
.howitworksitems{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25pt;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color: #252526FF;
    margin:0px;
}
.listitems{
    display: inline-block;
    margin: 10px;
    transform: scale(1,1);
    transition: 400ms;
    color: whitesmoke;
}
.listitems:hover{
    transform: scale(1.1);
    transition: 400ms;
    color: black;
}
.contactusmain{
    display: block;
    width: 500px;
    height: 325px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    border: 2px solid #636e72;
    border-radius: 20px;
    transform: scale(1,1);
    transition: 400ms;

}
#contactushead{
    display: inline-block;
    padding-top: 10px;
    font-size: 25pt;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color: #252526FF;
    margin:0px;
    transform: scale(1,1);
    transition: 400ms;
}
.contactusmain:hover{
    transform: scale(1.2,1.2);
    transition: 400ms;
    background-color:#FFBF00 ;
}
.contactusmain:hover #contactushead{
    background-color:#FFBF00 ;
    color: black;
}
.contactusitems{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transform: scale(1,1);
    transition: 400ms;
    color: whitesmoke;
}
.contactusitems:hover{
    transform: scale(1.2,1.2);
    transition: 400ms;
    color: black;
}