body{
    font-family: 'IBM Plex Mono', monospace;
    background-image: url(./background.jpg);
    
}
.signupform{
    font-family: 'Fredericka the Great', cursive;
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 3px rgba(200, 200, 200, 0.5);
    padding: 20px;
    margin:5% auto 0;
    text-align: center;
    border-radius: 10px;
    background: whitesmoke ;
    background-color: whitesmoke;
    
}
.input-box{
    width: 100%;
    margin: 5px 0;
    border-radius: 20px;
    border: 1px solid #252526FF;
    outline: none;
    padding: 5px;
}
.signupbtn{
    font-family: 'Fredericka the Great', cursive;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    outline: none;
    background-color: green;
    color: lightyellow;
    cursor: pointer;
}
#homebtn{
    background-color: #ffbf00;
    height: 30px;
    width:100px;
    font-family: 'Fredericka the Great', cursive;
    transition: 300ms;
    font-weight: bold;
}
#homebtn:hover{
    border: 3px solid black;
    transition: 300ms;
}
#homebtn:active{
    border: 3px solid whitesmoke;
    transition: 300ms;
}