body{
    font-family: 'IBM Plex Mono', monospace;
    background-image: url(./background.jpg);
    color: whitesmoke;
}
h3{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    color: mediumseagreen;
}
#homebtn{
    background-color: #ffbf0059;
    border: solid #ffbf00;
    border-radius: 15px;
    height: 50px;
    width:50px;
    font-family: 'Fredericka the Great', cursive;
    transition: 300ms;
    font-weight: bold;
}
#homebtn:hover{
    background-color: #ffbf00;
    transition: 300ms;
}